{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <div class="ui segments">

    <div class="ui segment">

    <form class="ui form" action="{{ .clientUrl }}" method="post">
      {{ .csrfField }}

      <div class="ui teal ribbon label">
        <i class="dragon icon"></i> Create
      </div>
      <span>Create a client</span>

      <div class="ui hidden divider"></div>

      <div class="ui error message"></div>

      {{if .errorName}}
        <div class="required field {{if .errorName}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="code icon"></i>
            <input type="text" name="Name" placeholder="Name" value="{{.Name}}" required />
            <div class="ui red tag label">
              {{ .errorName }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="code icon"></i>
            <input type="text" name="Name" placeholder="Name" value="{{.Name}}" required />
          </div>
        </div>
      {{end}}

      {{if .errorDescription}}
        <div class="required field {{if .errorDescription}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="info icon"></i>
            <input type="text" name="Description" placeholder="Description" value="{{.Description}}" required />
            <div class="ui red tag label">
              {{ .errorDescription }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="info icon"></i>
            <input type="text" name="Description" autocomplete="Description" placeholder="Description" value="{{.Description}}" required />
          </div>
        </div>
      {{end}}

      <div class="field">
        <div class="ui left icon action input focus">
          <i class="world icon"></i>
          <input type="text" name="RedirectUri" placeholder="Redirect uri" />
          <button type="button" class="ui green icon button add">
            <i class="add icon"></i>
          </button>
        </div>
      </div>

      <div class="field">
        <div class="ui left icon action input focus">
          <i class="world icon"></i>
          <input type="text" name="PostLogoutRedirectUri" placeholder="Post logout redirect uri" />
          <button type="button" class="ui green icon button add">
            <i class="add icon"></i>
          </button>
        </div>
      </div>

      <div class="field">
        <select name="TokenEndpointAuthMethod" class="ui dropdown">
          <option value="">Token endpoint auth method</option>
          <option value="none">None</option>
          <option value="client_secret_post">client_secret_post</option>
          <option value="client_secret_basic">client_secret_basic</option>
          <option value="private_key_jwt">private_key_jwt</option>
        </select>
      </div>

      <div class="field">
        <select name="GrantType" class="ui dropdown" multiple>
          <option value="">Grant type</option>
          <option value="authorization_code">Authorization Code</option>
          <option value="implicit">Implicit</option>
          <option value="password">Password</option>
          <option value="client_credientials">Client Credientials</option>
          <option value="device_code">Device Code</option>
          <option value="refresh_token">Refresh Token</option>
        </select>
      </div>

      <div class="field">
        <select name="ResponseType" class="ui dropdown" multiple>
          <option value="">Response type</option>
          <option value="code">code</option>
          <option value="token">token</option>
        </select>
      </div>

      <div class="ui toggle checkbox">
        <input type="checkbox" name="IsPublic">
        <label><span data-tooltip="Client is for use in a system that is incapable of protecting a secret, hence it wont be generated">Client is public (Mobile App)</span></label>
      </div>

      <div class="ui hidden divider"></div>

      <button class="ui green button" type="submit"><i class="save icon"></i> Create Client</button>

    </form>

    </div>

  </div>

<script type="text/javascript">
  $(function(){
    $('.ui.dropdown').dropdown();

    $("input[name=TokenEndpointAuthMethod").parent().dropdown()

    $("body").on("click", "input[name^=RedirectUri] ~ .button, input[name^=PostLogoutRedirectUri] ~ .button", function(e){
      e.preventDefault();
      var field = $(this).closest(".field");
      if ( field.find(".button").hasClass("green") ) {
        clone(field);
      } else {
        remove(field);
      }
      return false;
    });

    function clone(field) {
      var newField = field.clone();
      newField.find("input").val("");
      newField.css("display", "none");
      field.after(newField);
      newField.slideDown();
      newField.find(".button").removeClass("green").addClass("red")
              .find("i").removeClass("add").addClass("remove");
    }

    function remove(field) {
      field.slideUp(function(){
        $(this).remove();
      });
    }

  });
</script>

{{ template "dashboardend" . }}
{{ template "htmlend" . }}
