{{ $publisher := .publisher }}
{{ $receiver := .receiver }}
{{ $hasGrantsMap := .hasGrantsMap }}

{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <form class="ui form" method="get" action="/access/grant">
    <input type="hidden" name="receiver" value="{{ $receiver }}" />
    <div class="field">
      <label>Resource server</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="publisher" value="{{ $publisher }}">
        <i class="dropdown icon"></i>
        <div class="default text">Resource server</div>
        <div class="menu">
          {{ range $key, $rs := .resourceservers }}
          <div class="item" data-value="{{ $rs.Id }}">{{ $rs.Name }}</div>
          {{ end }}
        </div>
      </div>
    </div>
  </form>

  <div class="ui tabs pointing secondary menu">
    <a class="item active" data-tab="g">Grant</a>
    <a class="item" data-tab="mg">May grant</a>
  </div>

  <div class="ui tab segment active" data-tab="g">
    {{ if .grantPublishes }}
    <form class="ui form" method="post" action="/access/grant?receiver={{ $receiver }}&publisher={{ $publisher }}">
      {{ .csrfField }}

      <div class="fields" style="padding: 0 30%">
        <button class="ui fluid positive button">Give grants</button>
      </div>

      <h4 class="ui horizontal divider header">
        Grants
      </h4>

      {{ range $key, $publish := .grantPublishes }}
        <input type="hidden" name="Grants[{{ $key }}].Scope" value="{{ $publish.Scope }}" />
        <a class="ui blue ribbon label" style="margin-bottom:10px">{{ $publish.Scope }}</a> {{ $publish.Title }}
        <div class="three fields">
          <div class="field">
            <label>Enable</label>
            <div class="ui toggle checkbox">
              <input
                 type="checkbox"
                 {{ with index $hasGrantsMap $publish.Scope }}
                   {{ if .Granted }}
                     checked
                   {{ end }}
                 {{ end }}
                 class="enable"
                 name="Grants[{{ $key }}].Enabled"
                 tabindex="0" />
            </div>
          </div>
          <div class="field">
            <label>Start date</label>
            <input
              type="date"
              class="startdate"
              name="Grants[{{ $key }}].StartDate"
              {{ with index $hasGrantsMap $publish.Scope }}
                {{ if .Nbf }}
                  value="{{ .Nbf }}"
                {{ end }}
              {{ end }}
              placeholder="From">
          </div>
          <div class="field">
            <label>End date</label>
            <input
              type="date"
              class="enddate"
              name="Grants[{{ $key }}].EndDate"
              {{ with index $hasGrantsMap $publish.Scope }}
                {{ if .Exp }}
                  value="{{ .Exp }}"
                {{ end }}
              {{ end }}
              placeholder="To" />
          </div>
        </div>
        <div class="ui divider"></div>
      {{ end }}

    </form>
    {{ else }}
      <div class="ui icon message">
        <i class="frown outline icon"></i>
        <div class="content">
          <p>Sorry, the given resource server does not publish any grants that you can give others</p>
        </div>
      </div>
    {{ end }}
  </div>

  <div class="ui tab segment" data-tab="mg">
    {{ if .mayGrantPublishes }}
    <form class="ui form" method="post", action="/access/grant?receiver={{ $receiver }}&publisher={{ $publisher }}">
      {{ .csrfField }}

      <div class="fields" style="padding: 0 30%">
        <button class="ui fluid negative button">Give grants</button>
      </div>

      <h4 class="ui horizontal divider header">
        Grants
      </h4>

      {{ range $key, $publish := .mayGrantPublishes }}
      <input type="hidden" name="Grants[{{ $key }}].Scope" value="{{ $publish.Scope }}" />
      <a class="ui red ribbon label" style="margin-bottom:10px">{{ $publish.Scope }}</a> {{ $publish.Title }}

      <div class="inline field">
        <label>May grant</label>
        {{ range $k, $mgScope := $publish.MayGrantScopes }}
          <a class="ui primary label">{{ $mgScope }}</a>
        {{ end }}
      </div>

      <div class="three fields">
        <div class="field">
          <label>Enable</label>
          <div class="ui toggle checkbox">
            <input
               type="checkbox"
               {{ with index $hasGrantsMap $publish.Scope }}
                 {{ if .Granted }}
                   checked
                 {{ end }}
               {{ end }}
               class="enable"
               name="Grants[{{ $key }}].Enabled"
               tabindex="0" />
          </div>
        </div>
        <div class="field">
          <label>Start date</label>
          <input
            type="date"
            class="startdate"
            name="Grants[{{ $key }}].StartDate"
            {{ with index $hasGrantsMap $publish.Scope }}
              {{ if .Nbf }}
                value="{{ .Nbf }}"
              {{ end }}
            {{ end }}
            placeholder="From">
        </div>
        <div class="field">
          <label>End date</label>
          <input
            type="date"
            class="enddate"
            name="Grants[{{ $key }}].EndDate"
            {{ with index $hasGrantsMap $publish.Scope }}
              {{ if .Exp }}
                value="{{ .Exp }}"
              {{ end }}
            {{ end }}
            placeholder="To" />
        </div>
      </div>
      <div class="ui divider"></div>
      {{ end }}

    </form>

    {{ else }}
      <div class="ui icon message">
        <i class="frown outline icon"></i>
        <div class="content">
          <p>Sorry, the given resource server does not publish any grants that you can give others</p>
        </div>
      </div>
    {{ end }}
  </div>


  {{if .errors }}
    {{ range $key, $error := .errors }}
    <p>{{ $error.Error }}</p>
    {{ end }}
  {{ end }}

{{ template "dashboardend" . }}

<script type="text/javascript">
  $(function(){

    $('.ui.sticky')
      .sticky({
        context: '.segment',
      })
    ;

    $("input[name=publisher]").on('change', function(){
      $(this).closest("form").submit();
    });

    $('.selection.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
    $('.tabs.menu .item').tab().on('click', function(){
      localStorage.setItem('prev_tab', $(this).data('tab'));
    }).each(function(i,e){
      let prevTab = localStorage.getItem('prev_tab');

      if ( !prevTab ) {
        return
      }

      $(e).removeClass('active')
      if ( $(e).data('tab') === prevTab ) {
        $(e).tab('change tab', prevTab)
      }
    });

    $("input.startdate").each(function(i,e) {
      let isoDate = new Date().toISOString().substring(0,10)
      if ( $(e).val() == "" ) {
        $(e).val(isoDate);
      }
      $(e).prop("min", isoDate);
    });

    $("input.enable").each(function(i,e) {
      toggleDatepickers($(this));
    });

    $("input.enable").on('change', function(){
      toggleDatepickers($(this));
    });

    function toggleDatepickers(e) {
     if ( e.is(":checked") ) {
        e.closest(".fields").find("input[type=date]").prop("disabled", false);
        return;
      }

      e.closest(".fields").find("input[type=date]").prop("disabled", true);
    }
  });
</script>

{{ template "htmlend" . }}
