{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <div class="ui segments">

    <div class="ui segment">

    <form class="ui form" action="{{ .inviteUrl }}" method="post">
      {{ .csrfField }}

      <div class="ui teal ribbon label">
        <i class="envelope icon"></i> Create
      </div>
      <span>Create an invite assigned to an E-mail</span>

      <div class="ui hidden divider"></div>

      {{if .errorEmail}}
        <div class="required field {{if .errorEmail}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="Email" autocomplete="email" placeholder="E-mail" value="{{.Email}}" required />
            <div class="ui red tag label">
              {{ .errorEmail }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="mail icon"></i>
            <input type="text" name="Email" autocomplete="email" placeholder="E-mail" value="{{.Email}}" required />
          </div>
        </div>
      {{end}}

      {{if .errorUsername}}
        <div class="required field {{if .errorUsername}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="user circle icon"></i>
            <input type="text" name="Username" autocomplete="username" placeholder="Username" value="{{.Username}}" required />
            <div class="ui red tag label">
              {{ .errorUsername }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="required field">
          <div class="ui left icon input focus">
            <i class="user circle icon"></i>
            <input type="text" name="Username" autocomplete="username" placeholder="Username" value="{{.Username}}" required />
          </div>
        </div>
      {{end}}

      {{if .errorExpiresAt}}
        <div class="field {{if .errorExpiresAt}}error{{end}}">
          <div class="ui right labeled left icon input focus">
            <i class="clock icon"></i>
            <input type="date" class="startdate" name="ExpiresAt" placeholder="Expires At" value="{{.ExpiresAt}}" />
            <div class="ui red tag label">
              {{ .errorExpiresAt }}
            </div>
          </div>
        </div>
      {{else}}
        <div class="field">
          <label>Expires At</label>
          <div class="ui left icon input focus">
            <i class="clock icon"></i>
            <input type="date" class="startdate" name="ExpiresAt" placeholder="Expires At" value="{{.ExpiresAt}}" />
          </div>
        </div>
      {{end}}

      <button class="ui green button" type="submit"><i class="save icon"></i> Create Invite</button>
    </form>

    </div>

  </div>

{{ template "dashboardend" . }}
{{ template "htmlend" . }}
