{{ $receiver := .receiver }}

{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <div class="ui tab segment active" data-tab="g">
    <form class="ui form" method="post" action="/publishings/publish?receiver={{ $receiver }}">
      {{ .csrfField }}

      <div class="field">
        <label>Scope</label>
        <input type="text" name="Scope" placeholder="Scope">
      </div>

      <div class="field">
        <label>Title</label>
        <input type="text" name="Title" placeholder="Title">
      </div>

      <div class="field">
        <label>Description</label>
        <textarea placeholder="Description" name="Description"></textarea>
      </div>

       <input type="submit" class="ui button orange" tabindex="0" value="Publish" />

    </form>
  </div>

  {{if .errors }}
    {{ range $key, $error := .errors }}
    <p>{{ $error.Error }}</p>
    {{ end }}
  {{ end }}

{{ template "dashboardend" . }}

<script type="text/javascript">
  $(function(){

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
      forceSelection: false,
      hideAdditions: false
    });

  });
</script>

{{ template "htmlend" . }}
