{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

<a href="/publishings/publish?receiver={{ .receiver }}" style="margin-top:5px" class="ui orange label"><i class="rss icon"></i> Publish scope</a>

<div class="ui segments">

  <div class="ui segment">
  {{ if .publishings }}

    {{range $publish := .publishings}}

    <div class="ui {{ if $publish.MayGrantScopes }} orange {{ else }} green {{ end }} ribbon label">
        <i class="rss icon"></i> {{ $publish.Scope }}
      </div>
      <span> {{$publish.Description}} </span>

      <div class="ui list">
        <a href="#" style="margin-top:5px" class="ui red label"><i class="power icon"></i> Delete publishing</a>
      </div>

    {{ end }}
    </div>

  {{ else }}

      None found.

  {{ end }}
  </div>

</div>

{{ template "dashboardend" . }}
{{ template "htmlend" . }}
