{{ $publisher := .publisher }}
{{ $receiver := .receiver }}
{{ $hasGrantsMap := .hasGrantsMap }}

{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <div class="ui tab segment active" data-tab="g">
    <form class="ui form" method="post" action="/publishings/publish?receiver={{ $receiver }}&publisher={{ $publisher }}">
      {{ .csrfField }}

      <div class="field">
        <label>Scope</label>
        <div class="ui fluid search selection dropdown">
          <input type="hidden" name="country">
          <div class="default text">Select Scope</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="um">Us Minor Islands</div>
            <div class="item" data-value="uz">Uzbekistan</div>
            <div class="item" data-value="zw">Zimbabwe</div>
          </div>
        </div>
      </div>

      <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>

      <div class="field">
        <label>Description</label>
        <textarea placeholder="Description"></textarea>
      </div>

    </form>
  </div>

  {{if .errors }}
    {{ range $key, $error := .errors }}
    <p>{{ $error.Error }}</p>
    {{ end }}
  {{ end }}

{{ template "dashboardend" . }}

<script type="text/javascript">
  $(function(){

    $('.ui.dropdown').dropdown({
      allowAdditions: true,
      forceSelection: false,
      hideAdditions: false
    });

  });
</script>

{{ template "htmlend" . }}
