{{ template "htmlbegin" . }}
{{ template "dashboardbegin" . }}

  <div class="ui segments">

    <div class="ui segment">

    <form class="ui form" action="{{ .resourceServerUrl }}" method="post">
      {{ .csrfField }}

      <div class="ui teal ribbon label">
        <i class="server icon"></i> Create
      </div>
      <span>Create a resource server</span>

      <div class="ui hidden divider"></div>

      {{template "input.resourceservername" . }}
      {{template "input.description" . }}

      <div class="ui hidden divider"></div>

      <button class="ui green button" type="submit"><i class="save icon"></i> Create Resource Server</button>
    </form>

    </div>

  </div>

{{ template "dashboardend" . }}
{{ template "htmlend" . }}